{% extends 'base.html.twig' %}
{% block body %}
  <style>
      .table th.sorted {padding: 0;}
      .table th.sorted a {display: block; padding: .70rem .5rem; padding-left: 20px; color: inherit;}
      .table.table-sm th.sorted a {padding: .3rem; padding-left: 20px;}
      .table th.sorted a:hover {text-decoration: none;}
      .table th.sorted i {
          font-size: 13px;
          margin-right: 5px;
          margin-left: -15px;
      }
  </style>
  {% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
      {% if ( label == 'success' ) %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ flash }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% elseif ( label == 'danger' ) %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ flash }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% elseif ( label == 'info' ) %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          {{ flash }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% elseif ( label == 'error' ) %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ flash }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
  <div class="row">
    <div class="col-12 text-center mb-2">
      <h3>Lista agentów</h3>
    </div><div class="col-12 text-right mb-2">
      <a href="{{ path('agents_create') }}" class="btn btn-info">&#43; Dodaj Agenta</a>
      <a href="{{ path('export') }}" class="btn btn-info">&#8682; Export do .xlsx</a>
    </div>
    <div class="col-12 table-responsive mb-3 text-center">

      {% if agents|length > 0 %}
        <table class="table table-hover mb-0">
          <thead>
          <tr>
            <th scope="col">Lp.</th>
            <th class="sorted">{{ knp_pagination_sortable(agents, 'ID agencji', 'a.id') }}</th>
            <th class="sorted">{{ knp_pagination_sortable(agents, 'Nazwa', 'a.name') }}</th>
            <th class="sorted">{{ knp_pagination_sortable(agents, 'Status', 'a.status') }}</th>
            <th class="sorted">{{ knp_pagination_sortable(agents, 'Ilość pracowników', 'a.workersCount') }}</th>
            <th scope="col">Akcja</th>
          </tr>
          </thead>
          <tbody>
          {% for agent in agents %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>
                <a class="nav-link" data-src="{{ path('workers', {'agentId':agent.id}) }}" data-fancybox="{{ agent.id }}" data-type="iframe" href="javascript:;">{{ agent.id }}</a>
              </td>
              <td>
                <a class="nav-link" data-src="{{ path('workers', {'agentId':agent.id}) }}" data-fancybox="{{ agent.name }}" data-type="iframe" href="javascript:;">{{ agent.name }}</a>
              </td>
              <td><a href="{{ path('set_agent_status', {'id':agent.id}) }}">{{ agent.status == true ? '<p class="text-success">&#10004;</p>' : '<p class="text-danger">&#x2716;</p>' }}</a></td>
              <td>{{ agent.workersCount }}</td>
              <td>
                <a href="{{ path('agents_update', {'agentId':agent.id}) }}" type="button" class="btn btn-outline-success btn-sm">Edytuj</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class="alert alert-info text-center" role="alert">
          Lista jest pusta! <a href="{{ path('agents_create') }}" type="button" class="btn btn-outline-success btn-sm">Dodaj</a> agenta.
        </div>
      {% endif %}
    </div>
  </div>
  {{ knp_pagination_render(agents) }}
  
  <canvas id="myChart" width="400" height="400"></canvas>
  <script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: [
          {% for agentForChart in agentsForChart %}
          '{{ agentForChart[0].agent.name }}',
          {% endfor %}
        ],
        datasets: [{
          label: '# of Votes',
          data: [
            {% for agentForChart in agentsForChart %}
            {{ agentForChart[1] }},
            {% endfor %}
          ],
          backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)'
          ],
          borderColor: [
            'rgba(255, 99, 132, 1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)'
          ],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>
{% endblock %}
