{% if pageCount > 1 %}
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      {% if first is defined and current != first %}
        <li class="page-item">
          <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): first})) }}" aria-label="First">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">First</span>
          </a>
        </li>
      {% endif %}

      {% if previous is defined %}
        <li class="page-item">
          <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" aria-label="Previous">
            <span aria-hidden="true">&lsaquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
      {% endif %}

      {% for page in pagesInRange %}
        {% if page != current %}
          <li class="page-item"><a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}" >{{ page }}</a></li>
        {% else %}
          <li class="page-item active"><a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
        {% endif %}

      {% endfor %}

      {% if next is defined %}
        <li class="page-item">
          <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}" aria-label="Next">
            <span aria-hidden="true">&rsaquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      {% endif %}

      {% if last is defined and current != last %}
        <li class="page-item">
          <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): last})) }}" aria-label="Last">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}