{% set order = '' %}
<a
{% for attr, value in options %}
  {% if attr == 'class' %}
    {% set order = value %}
  {% endif %}
  {{ attr }}="{{ value }}"
{% endfor %}>
{% if order == 'asc' %}&#8595;{% elseif order == 'desc' %}&#8593;{% else %}&#8595;&#8593;{% endif %} {{ title }}
</a>