{% extends 'base.html.twig' %}
{% block body %}
  <div class="row">
    <div class="col-6">
      <a href="{{ path('workers', {'agentId':agent.id}) }}" class="btn btn-outline-info btn-sm">< Wróć</a>
    </div>
    <div class="col-6 text-right">
      {% if worker is defined %}

        <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#modalDelete">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg> Usuń
        </button>

      {% endif %}
    </div>
  </div>
  
  {% if app.request.attributes.get('_route') == 'workers_create' %}
    <h1>Dodaj pracownika</h1>
  {% else %}
    <h1>Edycja pracownika</h1>
  {% endif %}
  {{ form_start(form) }}
  {{ form_row(form.name) }}
  <div class="form-group ">
      <div class="custom-control custom-checkbox custom-control-inline">
        {{ form_widget(form.status) }}
        <label class="custom-control-label" for="{{ form.status.vars.id }}">Aktywny</label>
      </div>
  </div>
  {{ form_row(form._token) }}
  {{ form_end(form) }}
  {% if worker is defined %}
    <div class="modal" tabindex="-1" role="dialog" id="modalDelete">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Czy jesteś pewien, że chcesz usunąć tego pracownika?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Usunięcie spowoduje skasowanie pracownika z bazy danych.</p>
          </div>
          <div class="modal-footer">
            <a href="{{ path('workers_delete', {'workerId':worker.id}) }}" class="btn btn-danger" class="btn btn-primary">Usuń</a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
