{% extends 'base.html.twig' %}
{% block body %}
  <style>
      .table th.sorted {padding: 0;}
      .table th.sorted a {display: block; padding: .70rem .5rem; padding-left: 20px; color: inherit;}
      .table.table-sm th.sorted a {padding: .3rem; padding-left: 20px;}
      .table th.sorted a:hover {text-decoration: none;}
      .table th.sorted i {
          font-size: 13px;
          margin-right: 5px;
          margin-left: -15px;
      }
  </style>
  {% for label, flashes in app.session.flashbag.all %}
    {% for flash in flashes %}
      {% if ( label == 'success' ) %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {{ flash }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% elseif ( label == 'danger' ) %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ flash }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% elseif ( label == 'info' ) %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
          {{ flash }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% elseif ( label == 'error' ) %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{ flash }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
  <div class="row">
    <div class="col-12 text-center mb-2">
      <h3>Lista pracowników</h3>
    </div>
    <div class="col-6">
    </div>
    <div class="col-6 text-right">
      <a href="{{ path('workers_create', {'agentId':agent.id}) }}" class="btn btn-info">&#43; Dodaj pracownika</a>
    </div>
    <div class="col-12 table-responsive mb-3 text-center mt-2">

      {% if workers|length > 0 %}
        <table class="table table-hover mb-0">
          <thead>
          <tr>
            <th scope="col">Lp.</th>
            <th class="sorted">{{ knp_pagination_sortable(workers, 'ID pracownika', 'w.id') }}</th>
            <th class="sorted">{{ knp_pagination_sortable(workers, 'Imię i nazwisko', 'w.name') }}</th>
            <th class="sorted">{{ knp_pagination_sortable(workers, 'Status', 'w.status') }}</th>
            <th class="sorted">{{ knp_pagination_sortable(workers, 'Data', 'w.createdAt') }}</th>
            <th class="sorted">{{ knp_pagination_sortable(workers, 'Ip agenta', 'w.agentIp') }}</th>
            <th scope="col">Akcja</th>
          </tr>
          </thead>
          <tbody>
          {% for worker in workers %}
            <tr>
              <td>{{ loop.index }}</td>
              <td>{{ worker.id }}</td>
              <td>{{ worker.name }}</td>
              <td><a href="{{ path('set_worker_status', {'id':worker.id}) }}">{{ worker.status == true ? '<p class="text-success">&#10004;</p>' : '<p class="text-danger">&#x2716;</p>' }}</a></td>
              <td>{{ worker.createdAt|date('d.m.Y, H:i') }}</td>
              <td>{{ long2ip(worker.agentIp) }}</td>
              <td>
                <a href="{{ path('workers_update', {'workerId':worker.id}) }}" type="button" class="btn btn-outline-success btn-sm">Edytuj</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <div class="alert alert-info text-center" role="alert">
          Lista jest pusta! <a href="{{ path('workers_create', {'agentId':agent.id}) }}" type="button" class="btn btn-outline-success btn-sm">Dodaj</a> pracownika.
        </div>
      {% endif %}
    </div>
  </div>
  {{ knp_pagination_render(workers) }}
{% endblock %}
