<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js" integrity="sha512-tMabqarPtykgDtdtSqCL3uLVM0gS1ZkUAVhRFu1vSEFgvB73niFQWJuvviDyBGBH22Lcau4rHB5p2K2T0Xvr6Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <link href="{{ asset('css/jquery.fancybox.css') }}" rel="stylesheet">
        <script src="{{ asset('js/jquery.fancybox.js') }}"></script>
        
        <title>{% block title %}Lista agentów{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
{#        <style>#}
{#        /* Add a black background color to the top navigation */#}
{#            .topnav {#}
{#            background-color: #333;#}
{#            overflow: hidden;#}
{#            }#}

{#            /* Style the links inside the navigation bar */#}
{#            .topnav a {#}
{#            float: left;#}
{#            color: #f2f2f2;#}
{#            text-align: center;#}
{#            padding: 14px 16px;#}
{#            text-decoration: none;#}
{#            font-size: 17px;#}
{#            }#}

{#            /* Change the color of links on hover */#}
{#            .topnav a:hover {#}
{#            background-color: #ddd;#}
{#            color: black;#}
{#            }#}

{#            /* Add a color to the active/current link */#}
{#            .topnav a.active {#}
{#            background-color: #4CAF50;#}
{#            color: white;#}
{#            }#}
{#        </style>#}
    </head>
    <header>
        <div class="topnav nav justify-content-center">
{#            <a {% if app.request.get('_route') == 'index' %} class="active"{% endif %} href="{{ path('index') }}">Lista Osób</a>#}
{#            <a {% if app.request.get('_route') == 'group' %} class="active"{% endif %} href="{{ path('group') }}">Lista Grup</a>#}
{#            <a {% if app.request.get('_route') == 'app_user_create' %} class="active"{% endif %} href="{{ path('app_user_create') }}">Dodaj Osobę</a>#}
{#            <a {% if app.request.get('_route') == 'app_group_create' %} class="active"{% endif %} href="{{ path('app_group_create') }}">Dodaj Grupę</a>#}
        </div>
    </header>
    <body>
        <div class="container mt-5">
            {% block body %}{% endblock %}
        </div>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
